<div class="container login-container ">
    <div class="row">
        <div class="col-12 col-sm-8x` col-md-6 login-form">
            <h3>Sign In</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit()">
                <div class="form-group">
                    <label for="mobile">Employee Id: <strong class="asterisk">*</strong></label>
                    <input type="text" class="form-control" placeholder="Employee Id *" id="mobile" name="mobile"
                        formControlName="userId" required   numbersOnly  maxlength="10">
                    <div class="error" *ngIf="submitted  && login.userId.errors  && login.userId.errors.required">
                        Employee Id is <strong>required</strong>
                    </div>
                    
                </div>
                <div class="form-group">
                        <label for="password">Password: <strong class="asterisk">*</strong></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your Password *"
                        formControlName="password" required />
                    <div class="error" *ngIf="submitted  && login.password.errors  && login.password.errors.required">
                        Password is <strong>required</strong>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btnSubmit" aria-label="SignIn">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-spinner [spinner]="spinner"></app-spinner>
<app-alert [alertObj]="common.alertConfig" *ngIf="common.alertConfig?.modalShow" (buttonAction)="modalAction($event)"></app-alert>