<h3>Welcome {{ userDetail?.userName }}</h3>
<p-tabView>
        <p-tabPanel  header="Account Details">
           <div *ngFor="let account of userAccountDetails"> <h5>Details</h5>
                <p>
                        Account Number:{{account?.accountNumber}}
                                    </p>
                                    <p>
                                        Balence:{{account?.balence}}
                                    </p>
           </div> 
            </p-tabPanel>
            </p-tabView>
            <app-spinner [spinner]="spinner"></app-spinner>